<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--setting 控制mybatis全局行为-->
    <settings>
        <!--设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!--设置别名-->
    <typeAliases>
        <package name="com.xunmaw.graduate.entity"/><!--类名就是别名-->
    </typeAliases>
    <!--SQL映射文件的位置-->
    <mappers>
        <!--一个mapper标签指定一个文件的位置。
        从类路径开始的路径信息。
        target/classes（类路径）-->
        <!--<mapper resource="cn\liu\dao\StudentDao.xml"/>-->
        <package name="com.xunmaw.graduate.dao"/>
    </mappers>

</configuration>